@layer theme, base, antd, components, utilities;

@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}
